:root {

    font-size: 16px;

}

body {

    line-height: 1.5;
    color: #333;

}

.container {

    max-width: 1366px;
    padding: 16px;
    margin: 0 auto;

}

h1 {

    font-size: 2em;

}

blockquote {

    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;

}
