:root {

    font-size: 16px;

}

html {

    text-size-adjust: 100%; /* stylelint-disable-line */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;

}

body {

    color: #333;
    background-color: #333;

}

.container {

    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 8px 16px;

}

main {

    background-color: #fff;
    border-radius: 6px;

}

h1 {

    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;

}

a {

    color: #106a10;

}

img {

    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 16px auto;
    border-radius: 6px;

}
